body{
    background-image: url("https://www.ntc.edu/sites/default/files/styles/full_width_16_9/public/2021-06/web-design-header.jpg?itok=4d7TmUMl");
}

.nave ul li {
    display: inline-block;
    margin-right: 10%;
    /* Espaçamento entre os itens */
}

.nave ul li a {
    color: rgb(red, green, blue);
    text-decoration: none;
}